<!DOCTYPE html>
<html> 
<head> 
    <title>관상어 진단</title>
</head>
<body> 
    <h1>관상어 질병 진단 사이트</h1> 
    <p style="font-size:20px; margin-bottom:3px;"> 증상을 선택하세요 </p>
    <p style="font-size:14px; color:gray;"> ※ 본 사이트는 참고용이며, 실제 질병을 정확히 판별할 수 없습니다. </p>

    <form action="/result" method="POST">

        <input type="checkbox" name="symptoms" value="흰점"> 흰점<br>

        <input type="checkbox" name="symptoms" value="몸비빔"> 몸비빔<br>

        <input type="checkbox" name="symptoms" value="식욕감소"> 식욕감소<br>

        <input type="checkbox" name="symptoms" value="호흡곤란"> 호흡곤란<br>

        <input type="checkbox" name="symptoms" value="옆으로뜸"> 옆으로 뜸<br>

        <input type="checkbox" name="symptoms" value="뒤집힘"> 뒤집힘<br>

        <input type="checkbox" name="symptoms" value="수영이상"> 수영 이상<br>

        <input type="checkbox" name="symptoms" value="가라앉음"> 가라앉음<br>

        <input type="checkbox" name="symptoms" value="지느러미손상"> 지느러미 손상<br>

        <input type="checkbox" name="symptoms" value="지느러미변색"> 지느러미 변색<br>

        <input type="checkbox" name="symptoms" value="무기력"> 무기력<br>

        <br>

        <button type="submit" style="font-size:16px;">진단하기</button>
    </form>

</body>
</html> 
